body {
            background-color: rgb(241, 217, 207);
            display: flex;

        }

        .cuerpo-propi-owner-photo {
            width: 80px;
            height: 80px;
            border-radius: 100%;
        }

        .black-conten {
            background-color: black;
            color: white;
            text-align: center
        }

        .superior {

            font-size: 18px;
        }

        #valor {
            background: #7e472d;
            width: 50%;
            margin: auto;

            border-radius: 20px
        }

        #descripcion {
            font-size: 36px
        }

        .inferior {
            display: flex;
            gap: 10px;
        }

        #imagen {
            background-size: cover;
            width: 443px;
            background-repeat: no-repeat;
        }

        @media (max-width:680px) {

            body {
                margin: 0;
                display: block;
            }

            .cuerpo-propi-owner-photo {
                width: 50px;
                height: 50px;
                border-radius: 100%;
            }

            .black-conten {

                text-align: center
            }

            .superior {
                padding: 17%;
                font-size: 18px;
            }

            .inferior {
                display: block;
                gap: 5px;
            }

            #valor {
                background: #FF5E15;
            }

            #descripcion {
                font-size: 26px
            }

            #imagen {


                background-repeat: no-repeat;
                width: 100%;
                height: 269px;
                background-size: auto;
            }
        }